.prenom
{
	color: rgba(255,152,0 ,1);
}
.souligne
{
	text-decoration-color: rgba(255,152,0 ,1);	
}
.ligne
{
	background: transparent;
	border-color: rgba(255,152,0 ,1);
	border-width: 0 0 1px;
	border-style: solid;
}
i
{
	color: rgba(255,152,0 ,1);	
}
.loisirs .imusic
{
	color: black;
}
aside
{
	background-color: rgba(255,152,0 ,1);	
}
aside h3 
{
	background-color: rgba(66,66,66 ,1);
	color: rgba(255,152,0 ,1);	

}
#container-1
{
	width: 67%;
	display: flex;
}
